<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'AccessLog')}">
<head>
    <meta charset="UTF-8">
    <title>Access Log</title>
</head>
<body>
    <div class="clearfix">
        <h2>Access Log</h2>
    </div>
    <div class="clearfix">
        <!--/*@thymesVar id="accessLogFilters" type="com.fmart43.mysmartlocker.controller.command.AccessLogFiltersCommand"*/-->
        <!--/*@thymesVar id="grantedAccess" type="com.fmart43.mysmartlocker.model.GrantedAccessEnum"*/-->
        <!--/*@thymesVar id="accessLogUsernameValues" type="java.util.Map<Key, Value>"*/-->
        <!--/*@thymesVar id="accessLogDoorValues" type="java.util.Map<Key, Value>"*/-->
        <!--/*@thymesVar id="key" type="java.lang.Integer"*/-->
        <!--/*@thymesVar id="key" type="java.lang.String"*/-->
        <form class="w-100" th:object="${accessLogFilters}" th:action="@{'/accesslog/applyfilters'}" method="post">
            <select class="form-control float-left col-md-3 mr-2" th:field="*{employeeId}">
                <option selected value="">-- Employee Username--</option>
                <option th:each="username: ${accessLogUsernameValues}"
                        th:value="${username.key}"
                        th:text="${username.value}">val</option>
            </select>
            <select class="form-control float-left col-md-3 mr-2" th:field="*{doorId}">
                <option selected value="">-- Door Name --</option>
                <option th:each="door: ${accessLogDoorValues}"
                        th:value="${door.key}"
                        th:text="${door.value}">val</option>
            </select>
            <select class="form-control float-left col-md-3 mr-2" th:field="*{grantedAccess}">
                <option selected value="">-- Granted Access --</option>
                <option th:each="grantedAccess: ${T(com.fmart43.mysmartlocker.model.GrantedAccessEnum).values()}"
                        th:value="${grantedAccess.name()}"
                        th:text="${grantedAccess.name()}">val</option>
            </select>
            <a href="/accesslog/" class="btn btn-primary float-right col-md-1 mr-2">Reset</a>
            <button type="submit" class="btn btn-primary float-right col-md-1 mr-2">Search</button>
        </form>
</div>
<div class="container mt-2">
<table id="doorsTable" class="table table-striped">
    <thead>
    <tr>
        <th>DATE</th>
        <th>EMPLOYEE NAME</th>
        <th>DOOR NAME</th>
        <th>GRANTED ACCESS</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="accessLogList" type="java.util.List<com.fmart43.mysmartlocker.model.AccessLog>"*/-->
    <tr th:each="accessLog : ${accessLogList}">
        <td th:text="${accessLog.createDate}"></td>
        <td th:text="${accessLog.employee.username}">username@gmail.com</td>
        <td th:text="${accessLog.door.doorName}">Door 1</td>
        <td th:text="${accessLog.grantedAccess}">GRANTED</td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>