<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (template, menu)">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" type="image/x-icon"  />
    <!-- css files included, bootstrap one and my custom one-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>

    <title>My Smart Locker</title>
</head>

<body>


<nav class="container navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img th:src="@{/resources/images/main_icon.png}" src="#" width="70" height="70" alt="">
    </a>
    <h2>
        My Smart Locker
    </h2>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" th:classappend="${'Employee'==menu ? 'active' : ''}">
                <a class="nav-link" href="#" th:href="@{/employeelist/index}">Employees<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" th:classappend="${'Door'==menu ? 'active' : ''}">
                <a class="nav-link" href="#" th:href="@{/doorlist/index}">Doors</a>
            </li>
            <li class="nav-item" th:classappend="${'AccessLog'==menu ? 'active' : ''}">
                <a class="nav-link" href="#" th:href="@{/accesslog/index}">Access Log</a>
            </li>
        </ul>
    </div>
    <form name="logoutForm" th:action="@{/logout}" method="post">
        <button type="submit" value="Sign Out" class="btn btn-secondary float-right ml-1">Sign Out</button>
    </form>
</nav>

<div class="container-fluid" style="margin-top: 30px">
    <div class="container xd-container">

        <th:block th:include="${template}"/>

        <br/>
        <br/>
        <div>
            <div class="row">
                <div class="col-12 text-center margin-primary-color" style="padding-top: 10px; border-top: 2px solid #009688">
                    <img th:src="@{/resources/images/favicon.png}" src="#" width="30" height="30" alt="logo">
                    My Smart Locker
                </div>
            </div>
        </div>
    </div>
</div>

<!-- js files included, bootstrap and jquery-->
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.js}"></script>


</body>

</html>
