<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'Employee')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="employeeCommand" type="com.fmart43.mysmartlocker.controller.command.EmployeeCommand"*/-->
<form  th:object="${employeeCommand}" th:action="@{'/employee/' + ${employeeCommand.getId()} + '/save'}" method="post">
    <div class="pannel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Edit Employee Information</h1>
            </div>
            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p>Please Correct Errors Below</p>
            </div>
            <input type="hidden" th:field="*{id}"/>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label>Username:</label>
                        <input type="hidden" th:field="*{username}"/>
                        <input disabled type="text" class="form-control" th:field="*{username}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label>Password:</label>
                        <input type="password" class="form-control" name="password" th:value="*{password}"/>
                        <span class="help-block" th:if="${#fields.hasErrors('password')}">
                            <ul>
                                <li th:each="err:${#fields.errors('password')}" th:text="${err}"/>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label>First Name :</label>
                        <input type="text" class="form-control" th:field="*{firstName}"/>
                        <span class="help-block" th:if="${#fields.hasErrors('firstName')}">
                            <ul>
                                <li th:each="err:${#fields.errors('firstName')}" th:text="${err}"/>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label>Last Name :</label>
                        <input type="text" class="form-control" th:field="*{lastName}"/>
                        <span class="help-block" th:if="${#fields.hasErrors('lastName')}">
                            <ul>
                                <li th:each="err:${#fields.errors('lastName')}" th:text="${err}"/>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label>Fingerprint:</label>
                        <input type="hidden" th:field="*{fingerprintEnabled}"/>
                        <input disabled th:if="${employeeCommand.fingerprintEnabled}" type="text" class="form-control" value="ENABLED"/>
                        <input disabled th:if="!${employeeCommand.fingerprintEnabled}" type="text" class="form-control" value="DISABLED"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label>Role:</label>
                        <select class="form-control" th:field="*{role}">
                            <option th:each="roleValue : ${T(com.fmart43.mysmartlocker.model.Role).values()}"
                                    th:value="${roleValue.name()}"
                                    th:text="${roleValue.getDisplayName()}">val</option>
                        </select>
                    </div>
                </div>
                <a class="btn btn-primary" href="/employeelist/">Return</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>