<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'Employee')}">
<body>

<h2>Employees</h2>

<table id="employeesTable" class="table table-striped">
    <thead>
    <tr>
        <th>USERNAME</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>FINGERPRINT</th>
        <th>ROLE</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="employeeList" type="java.util.List<com.fmart43.mysmartlocker.model.Employee>"*/-->
    <tr th:each="employee : ${employeeList}">
        <td th:text="${employee.username}">asdfasd</td>
        <td th:text="${employee.firstName}">asdfasd</td>
        <td th:text="${employee.lastName}">asdfasd</td>
        <th:block th:if="${employee.fingerprintEnabled}"><td>ENABLED</td></th:block>
        <th:block th:if="${!employee.fingerprintEnabled}"><td>DISABLED</td></th:block>
        <td th:text="${employee.role}">asdfasd</td>
        <td><a href="#" th:href="@{'/employee/' + ${employee.id} + '/edit'}">Edit</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
