<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>404 Not Found Error</title>

    <!-- Latest compiled and minified CSS -->
    <!-- css files included, bootstrap one and my custom one-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>

    <!-- js files included, bootstrap and jquery-->
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.js}"></script>

</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>404 Not Found</h1>
            <p th:text="${exception.getMessage()}"></p>
        </div>
    </div>
</div>

</body>
</html>