
.navbar{
    background-image: linear-gradient(to bottom right, #00796B, #009688);
}

.navbar-light, .navbar-nav, .nav-link{
    color:#FF9800!important;
}

.logout{
    color:#FF9800;
    margin-bottom: 50px;
    font-size: 14px;
}

.active{
    font-weight:bold;
}

.nav-link{
    font-size: large;
    padding: 10px 50px 10px 50px!important;
}

.nav-link:hover{
    background-color: #FF9800;
    color: black!important;
}

.bg-primary-color{
    background-color: #009688;
}

.text-primary-color{
    background-color: #009688;
}


.btn-primary {
    color: #fff;
    background-color: #009688;
    border-color: #009688;
}

.btn-primary:hover {
    background-color: #00796B;
}

.btn-secondary{
    color: #000;
    background-color: #FF9800;
    border-color: #894d00;
}

.btn-secondary:hover{
    color: #FFF;
    background-color: #894d00;
    border-color: #FF9800;
}

.help-block{
    color: #721c24;
}

a{
    color: #00796B;
}

