<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
</head>
<body>

<nav class="container navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img th:src="@{/resources/images/main_icon.png}" src="#" width="70" height="70" alt="">
    </a>
    <h2>
        My Smart Locker
    </h2>
</nav>

<div class="container-fluid" style="margin-top: 30px">
    <div class="container xd-container">
        <div class="panel-heading">
            <h1 class="panel-title">Login</h1>
        </div>
        <form th:action="@{/login}" method="post">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="alert alert-danger" th:if="${param.error}">
                        Invalid username and password.
                    </div>
                    <div class="alert alert-warning" th:if="${param.logout}">
                        You have been logged out.
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5 form-group">
                                <label>User Name: </label>
                                <input type="text" class="form-control" name="username"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 form-group">
                                <label>Password: </label>
                                <input type="password" class="form-control" name="password"/>
                            </div>
                        </div>
                        <div class="mt-3" />
                        <div class="row">
                            <div class="col-md-5 form-group">
                                <input class="col-md-5 btn btn-primary" type="submit" value="Sign In"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>