<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'Door')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="doorCommand" type="com.fmart43.mysmartlocker.controller.command.DoorCommand"*/-->
<!--/*@thymesVar id="doorCommand" type="com.fmart43.mysmartlocker.controller.command.DoorCommand"*/-->
<!--/*@thymesVar id="errorCommand" type="java.lang.String"*/-->
<form  th:object="${doorCommand}" th:action="@{'/door/' + ${doorCommand.getId()} + '/save'}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div class="pannel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Door Information</h1>
            </div>
            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p>Please Correct Errors Below</p>
            </div>
            <div th:if="${errorCommand != null}" class="alert alert-danger">
                <p th:text="${errorCommand}">Validation Error</p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label>Door Name:</label>
                        <input type="text" class="form-control" th:field="*{doorName}"/>
                        <span class="help-block" th:if="${#fields.hasErrors('doorName')}">
                            <ul>
                                <li th:each="err:${#fields.errors('doorName')}" th:text="${err}"/>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label>NFC Code:</label>
                        <input type="text" class="form-control" th:field="*{nfcCode}"/>
                        <span class="help-block" th:if="${#fields.hasErrors('nfcCode')}">
                            <ul>
                                <li th:each="err:${#fields.errors('nfcCode')}" th:text="${err}"/>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label>Min level role :</label>
                        <select class="form-control" th:field="*{minLevelRole}">
                            <option selected value="0">-- Level --</option>
                            <option th:each="roleValue : ${roleLevelModel}"
                                    th:value="${roleValue.getLevelAccess()}"
                                    th:text="${'Level ' + roleValue.getLevelAccess() + ' (' + roleValue.getDisplayName() + ')'}">val</option>
                        </select>
                        <span class="help-block" th:if="${#fields.hasErrors('minLevelRole')}">
                            <ul>
                                <li th:each="err:${#fields.errors('minLevelRole')}" th:text="${err}"/>
                            </ul>
                        </span>
                    </div>
                </div>
                <a class="btn btn-primary" href="/doorlist/">Return</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>