<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'Door')}">
<body>
<div>
    <h2 class="float-left">Doors</h2>
    <a class="btn btn-primary float-right" href="/door/new">New Door</a>
</div>
<table id="doorsTable" class="table table-striped">
    <thead>
    <tr>
        <th>DOOR NAME</th>
        <th>NFC CODE</th>
        <th>SECURITY LEVEL</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="doorList" type="java.util.List<com.fmart43.mysmartlocker.model.Door>"*/-->
    <tr th:each="door : ${doorList}">
        <td th:text="${door.doorName}"></td>
        <td th:text="${door.nfcCode}">asdfasd</td>
        <td th:text="${door.minLevelRole}">asdfasd</td>
        <td><a href="#" th:href="@{'/door/' + ${door.id} + '/edit'}">Edit</a></td>
        <td><a href="#" th:href="@{'/door/' + ${door.id} + '/delete'}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>